In [68]:
import pandas as pd
import numpy as np

In [8]:
lassodf = pd.read_csv('./FinalSubmissions/Lasso204.csv')
lineardf = pd.read_csv('./FinalSubmissions/Linear217.csv')
ridgedf = pd.read_csv('./FinalSubmissions/Ridge199.csv')
shetudf = pd.read_csv('./FinalSubmissions/SKsubmission8.csv')
svrdf = pd.read_csv('./FinalSubmissions/SVR4.csv')
nndf = pd.read_csv('./FinalSubmissions/NN.csv')
#, .12770

In [17]:
scoreslist = np.array([.11718, .11748, .11764, .13, .12285, .12770])
scoreslist = np.array([.11718, .11748, .11764, .13, .12285])
scoreslist = (1/(scoreslist**4))**2
sumscoreslist = sum(scoreslist)
scoreslist = scoreslist/sumscoreslist
scoreslist
#1, 1/scoreslist^4, then divided by sum to get to 1

array([0.26463782, 0.25664132, 0.25248387, 0.07613312, 0.15010387])

In [18]:
modellist = ['lasso', 'linear', 'ridge', 'shetu', 'svr', 'nn']
modellist = ['lasso', 'linear', 'ridge', 'shetu', 'svr']

In [19]:
df = lassodf
df = df.rename(columns={'SalePrice': 'lasso'})
df.head()

     Id          lasso
0  1461  108304.912523
1  1462  162030.068747
2  1463  181375.761421
3  1464  199193.051897
4  1465  180839.853326

In [20]:
df['linear'] = lineardf['SalePrice']
df['ridge'] = ridgedf['SalePrice']
df['shetu'] = shetudf['SalePrice']
df['svr'] = svrdf['SalePrice']
df['nn'] = nndf['SalePrice']
df.head()

,Id,lasso,linear,ridge,shetu,svr,nn
0,1461,108304.912523,116866.242075,109081.670064,116920.58,123443.364246,124410.887163
1,1462,162030.068747,162271.368037,161532.537362,168658.50,159022.765721,156575.887390
2,1463,181375.761421,182023.416264,182708.553870,179968.16,191627.071839,188145.731058
3,1464,199193.051897,203857.594609,201349.084006,190611.72,200351.354920,201823.845578
4,1465,180839.853326,180884.623978,193678.073899,197212.47,182395.958999,178524.257151

In [21]:
df['SalePrice'] = 0
for i, model in enumerate(modellist):
    print(i, model)
    df['SalePrice'] += scoreslist[i] * df[model]

0 lasso
1 linear
2 ridge
3 shetu
4 svr

In [22]:
df = df[['Id', 'SalePrice']]
df.to_csv('BrandenSubmission.csv', index=False)
df.head()

     Id      SalePrice
0  1461  113626.500049
1  1462  162019.612753
2  1463  183310.081343
3  1464  200455.071861
4  1465  185572.862782