# Weighted stacking of models based on scores

In [1]:
import pandas as pd
import numpy as np

In [2]:
lassodf = pd.read_csv('./StackedSubmissions/Lasso204.csv')
lineardf = pd.read_csv('./StackedSubmissions/Linear217.csv')
ridgedf = pd.read_csv('./StackedSubmissions/Ridge199.csv')
shetudf = pd.read_csv('./StackedSubmissions/SKsubmission8.csv')
svrdf = pd.read_csv('./StackedSubmissions/SVR4.csv')
nndf = pd.read_csv('./StackedSubmissions/NN.csv')

In [3]:
#Use model scores to assign weights
scoreslist = np.array([.11718, .11748, .11764, .13, .12285, .12770])
scoreslist = np.array([.11718, .11748, .11764, .13, .12285])
scoreslist = (1/(scoreslist**4))**2
sumscoreslist = sum(scoreslist)
scoreslist = scoreslist/sumscoreslist
scoreslist
#1, 1/scoreslist^4, then divided by sum to get to 1

array([0.24570603, 0.24073114, 0.23812426, 0.10707719, 0.16836138])

In [4]:
modellist = ['lasso', 'linear', 'ridge', 'shetu', 'svr', 'nn']
modellist = ['lasso', 'linear', 'ridge', 'shetu', 'svr']

In [5]:
df = lassodf
df = df.rename(columns={'SalePrice': 'lasso'})
df.head()

     Id          lasso
0  1461  108304.912523
1  1462  162030.068747
2  1463  181375.761421
3  1464  199193.051897
4  1465  180839.853326

In [6]:
#take outputs from each models
df['linear'] = lineardf['SalePrice']
df['ridge'] = ridgedf['SalePrice']
df['shetu'] = shetudf['SalePrice']
df['svr'] = svrdf['SalePrice']
df['nn'] = nndf['SalePrice']
df.head()

,Id,lasso,linear,ridge,shetu,svr,nn
0,1461,108304.912523,116866.242075,109081.670064,116920.58,123443.364246,124410.887163
1,1462,162030.068747,162271.368037,161532.537362,168658.50,159022.765721,156575.887390
2,1463,181375.761421,182023.416264,182708.553870,179968.16,191627.071839,188145.731058
3,1464,199193.051897,203857.594609,201349.084006,190611.72,200351.354920,201823.845578
4,1465,180839.853326,180884.623978,193678.073899,197212.47,182395.958999,178524.257151

In [7]:
#generate stacked output by multiplying model outputs and respective weights
df['SalePrice'] = 0
for i, model in enumerate(modellist):
    df['SalePrice'] += scoreslist[i] * df[model]

In [8]:
#save stacked outputs to csv
df = df[['Id', 'SalePrice']]
df.to_csv('./StackedSubmissions/StackedSubmission.csv', index=False)
df.head()

     Id      SalePrice
0  1461  114022.128035
1  1462  162173.122781
2  1463  183424.245120
3  1464  200105.504741
4  1465  185922.844625